%section
  .container
    .page-header
      %h2 詳細
      %small 鬱ツイートの詳細情報です
    .row
      .span10.offset1
        = render 'detail'

  %p{:class=>"pull-left pager"}
    = link_to "鬱ツイート判定器に戻る", root_path
  %p{:class=>"pull-right pager"}
    = link_to "テキスト一覧に戻る", stories_path
